<!DOCTYPE html>
<html lang="en">

<head>
  <title>Memes Central</title>
  <link href="../stylesheets/navbar.css" rel="stylesheet">
  <%- include('./partials/head.ejs') %>
  <nav class="navbar">

    <li class="user"></li>
        <li>
<!-- 
  <form action="/logout" method="post">
      <button class="logout" type="submit">Sign out</button>
    
    </form>  -->
  
</nav>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbarAuth.ejs') %>
  <section>
    

  <header id="home">
      <div class="container-fluid header-content">
        <div class="row">
          <div class="col">
            <div class="content-box text-center text-light">
              <h1>Meme Central</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
   </section>
    <%- include('./partials/scripts.ejs') %>
  </section>
</body>

</html>