<!DOCTYPE html>
<html lang="en">

<head>
  <title>Memes Central</title>
  <%- include('./partials/head.ejs') %>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
  <section><nav class="nav">
   <!--  adds a button to home screen  not needed-->
       <!--  <form action="/logout" method="post">
          <button class="logout" type="submit">Log ou out</button>
        </form> -->
      
    
  </nav>

  <header id="home">
      <div class="container-fluid header-content">
        <div class="row">
          <div class="col">
            <div class="content-box text-center text-light">
              <h1>Meme Central</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
   </section>
    <%- include('./partials/scripts.ejs') %>
  </section>
</body>

</html>