<!DOCTYPE html>
<html lang="en">

<head>
  <title>Memes</title>
  <!-- BM Chaneg the path to the css files -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css" />
  <link href="../../stylesheets/navbar.css" rel="stylesheet">

</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
  <%- include('./partials/memes.ejs') %>
  
 
    
    <%- include('./partials/scripts.ejs') %>
</body>

</html>