<!DOCTYPE html>
<html lang="en">

<head>
  <title>Meme Info</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link href="../stylesheets/navbar.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/meme.css">
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
    <section class="container">

      <table class="table" id="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">URL</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Dimensions</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <th scope="row">
              ID inserted here
            </th>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
             <td>
            </td>
          </tr>
        </tbody>
      </table>
    


    </section>

    <%- include('./partials/scripts.ejs') %>
</body>

</html>